@import "../../assets/sass/_variables.scss";

.job_list{
    display: flex;
    flex-direction: column;
    gap: 23px;
    list-style: none;
    margin: 77px 0;

    @media only screen and (max-width: $bp_md){
        gap: 40px;
    }
}